# --- Ignorowane foldery ---
venv/
__pycache__/
*/__pycache__/

# --- Tymczasowe pliki Pythona ---
*.py[cod]
*$py.class

# --- Logi (nie wysyłamy logów aktywności na GitHuba) ---
*.log
visitors_activity.log
app.log

# --- Zabezpieczenie systemowe (Windows/Mac) ---
.DS_Store
Thumbs.db
